@model Companies.Models.Company

@{
    ViewData["Title"] = "Neue Firma";
    var parentCompanies = (IEnumerable<SelectListItem>)@ViewData["ParentCompanies"];
}

<br />
<h1>@ViewData["Title"]</h1>
<br />
<form method="post" asp-action="Create" asp-controller="Company">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="Title">Firmenname <span style="color: red;">*</span></label>
        <input asp-for="@Model.Title" type="text" class="form-control" maxlength="50" required="required">
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Branch">Branche <span style="color: red;">*</span></label>
        <select asp-for="@Model.Branch" asp-items="Html.GetEnumSelectList<Branch>()" class="form-control" required="required">
            <option value="" selected="selected" disabled="disabled">Bitte wählen</option>
        </select>
        <span asp-validation-for="@Model.Branch" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="AmountEmployees">Anzahl Mitarbeiter</label>
        <input asp-for="@Model.AmountEmployees" type="number" class="form-control" min="1" max="1000000" step="1">
        <span asp-validation-for="@Model.AmountEmployees" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="City">Stadt</label>
        <input asp-for="@Model.City" type="text" maxlength="50" class="form-control">
        <span asp-validation-for="@Model.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ParentCompanyId">Mutterfirma</label>
        <select asp-for="@Model.ParentCompanyId" asp-items="@parentCompanies" class="form-control">
            <option selected="selected" disabled="disabled">Bitte wählen</option>
        </select>
        <span asp-validation-for="@Model.ParentCompanyId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <br />
        <button type="submit" class="btn btn-primary">Speichern</button>
        <a class="btn btn-secondary" asp-route="listCompanies">Abbrechen</a>
    </div>
</form>