@model Companies.Models.ListViewModel

@{
    ViewData["Title"] = "Firmenübersicht";
    var columns = new List<KeyValuePair<string, string>>() {
        new KeyValuePair<string, string>(nameof(Company.Id), "#"),
        new KeyValuePair<string, string>(nameof(Company.Title), "Firmenname"),
        new KeyValuePair<string, string>(nameof(Company.Branch), "Branche"),
        new KeyValuePair<string, string>(nameof(Company.AmountEmployees), "Anz. MA"),
        new KeyValuePair<string, string>(nameof(Company.City), "Stadt"),
        new KeyValuePair<string, string>(nameof(Company.ParentCompany), "Mutterfirma"),
        new KeyValuePair<string, string>(nameof(Company.HierarchicalLevel), "Ebene")
    };
}

<br />
<h1>@ViewData["Title"]</h1>
<br />
<form method="get" class="form-inline">
    <input asp-for="@Model.SearchText" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Suche">
    <select asp-for="@Model.FilteredBranch" asp-items="Html.GetEnumSelectList<Branch>()" class="form-control mb-2 mr-sm-2 mb-sm-0">
        <option selected="selected">Alle</option>
    </select>
    <button type="submit" class="btn btn-primary form-control mb-2 mr-sm-2 mb-sm-0">Suchen</button>
    <button type="submit" class="btn btn-light form-control mb-2 mr-sm-2 mb-sm-0" id="resetFilterButton">Zurücksetzen</button>
</form>
<br />
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
            <tr>
                @foreach (var column in columns) {
                    <th scope="col"><table-headline sort-by="@Model.SortBy" current-page="@Model.CurrentPage" key="@column.Key" value="@column.Value" /></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Companies.Count() > 0) {
                @foreach (var company in Model.Companies) {
                    <tr class="clickable-row" data-href="/edit-company/@company.Id">
                        <td>@company.Id</td>
                        <td>@company.Title</td>
                        <td>@company.Branch.DisplayName()</td>
                        <td>@company.AmountEmployees</td>
                        <td>@company.City</td>
                        @if (null == company.ParentCompany) {
                            <td></td>
                        } else {
                            <td>@company.ParentCompany.Title</td>
                        }
                        <td>@company.HierarchicalLevel</td>
                    </tr>
                }
            } else {
                <tr>
                    <td colspan="7">Keine Firmen gefunden</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="btn-toolbar justify-content-between">
    <div class="input-group">
        <a class="btn btn-primary form-control" asp-route="createCompany">Neue Firma</a>
    </div>
    <div class="btn-group">
        <ul class="pagination">
            <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                <a asp-route-currentpage="@(Model.CurrentPage -1)" asp-route-searchtext="@Model.SearchText" asp-route-filteredbranch="@Model.FilteredBranch" asp-route-sortby="@Model.SortBy" class="page-link">&laquo;</a>
            </li>
            @for (var i = 1; i <= Model.TotalPages; i++) {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a asp-route-currentpage="@i" asp-route-searchtext="@Model.SearchText" asp-route-filteredbranch="@Model.FilteredBranch" asp-route-sortby="@Model.SortBy" class="page-link">@i</a>
                </li>
            }
            <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                <a asp-route-currentpage="@(Model.CurrentPage + 1)" asp-route-searchtext="@Model.SearchText" asp-route-filteredbranch="@Model.FilteredBranch" asp-route-sortby="@Model.SortBy" class="page-link">&raquo;</a>
            </li>
        </ul>
    </div>
</div>