@model Companies.Models.ListViewModel

@{
    ViewData["Title"] = "Firmenübersicht";
}

<br />
<h1>@ViewData["Title"]</h1>
<br />
<form method="get" class="form-inline">
    <input asp-for="@Model.TextContains" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="(Mutter-)Firma oder Stadt..">
    <select asp-for="@Model.FilteredBranch" asp-items="Html.GetEnumSelectList<Branch>()" class="form-control mb-2 mr-sm-2 mb-sm-0">
        <option selected="selected">Alle</option>
    </select>
    <button type="submit" class="btn btn-secondary form-control mb-2 mr-sm-2 mb-sm-0">Filtern</button>
    <button type="submit" class="btn btn-light form-control mb-2 mr-sm-2 mb-sm-0" id="resetFilterButton">Zurücksetzen</button>
</form>
<br />
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Firmen-Nr.</th>
                <th scope="col">Firmenname</th>
                <th scope="col">Branche</th>
                <th scope="col">Anzahl Mitarbeiter</th>
                <th scope="col">Stadt</th>
                <th scope="col">Mutterfirma</th>
                <th scope="col">Ebene</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Companies.Count() > 0) {
                @foreach (var company in Model.Companies) {
                    <tr class="clickable-row" data-href="/edit-company/@company.Id">
                        <td>@company.Id</td>
                        <td>@company.Title</td>
                        <td>@company.Branch.DisplayName()</td>
                        <td>@company.AmountEmployees</td>
                        <td>@company.City</td>
                        @if (null == company.ParentCompany) {
                            <td></td>
                        } else {
                            <td>@company.ParentCompany.Title</td>
                        }
                        <td>@company.HierarchicalLevel</td>
                    </tr>
                }
            } else {
                <tr>
                    <td colspan="7">Keine Firmen gefunden</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<a class="btn btn-primary" asp-route="createCompany">Neue Firma</a>